* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  
  .leftcolumn {
    float: left;
    width: 80%;
  }
  
 
  .rightcolumn {
    float: left;
    width: 40%;
    padding-left: 20px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
   
    
  }
  .Follow-text {
   text-decoration: underline;
   
  }
 
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    

  }
  
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
    .container {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd hd  "
        "sd sd sd main main main main main"
        "ft ft ft ft ft ft";
    }

    .header {
        grid-area: hd;
    }


    .article{
        grid-area:main;

    }

    .section{
       grid-area:sd;

    }
    .footer {

       grid-area:ft;

    }
.FirstBlog {
  
    height: fit-content;
    position: absolute;
    top: 18%;
    left: 25%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #aaa;
    padding: 20px;
    border: green;
}

.SECBlog {

  height: fit-content;
  position: absolute;
  top: 45%;
  left: 25%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #aaa;
  padding: 20px;
  border: green;
}

.THDBlog {

  height: fit-content;
  position: absolute;
  top: 70%;
  left: 25%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #aaa;
  padding: 20px;
  border: green;
}

.FOURTHtBlog  {

  height: fit-content;
  position: absolute;
  top: 18%;
  left: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #aaa;
  padding: 20px;
  border: green;
}

.FIFTHtBlog{


  height: fit-content;
  position: absolute;
  top: 45%;
  left: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #aaa;
  padding: 20px;
  border: green;
}


.SIXTHtBlog{

  height: fit-content;
  position: absolute;
  top: 70%;
  left: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #aaa;
  padding: 20px;
  border: green;
}

.footer2 {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 35.5%;

}
.card2 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
 border-radius: 40%;
 size: 30px;

}

.btn {
  font-size: large;
  width: 100% ;
  padding: 5%;
  background-color: lightblue;
  color: black;
  border-radius: 24%;
  border: #f1f1f1;
  margin: 5%;
  cursor:pointer;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Courier New', Courier, monospace;
}
.imgTemp {
display: flex;
top: 100px;
left: 25%;
height: 150px;
width: 400px;

}